<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portofoglio website</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <section>
    <div class="container">
     <header>
	 <div style= "position: relative; left: 800px; top: 24px;  class="center">
	 <div class="outer circle">
            <a href="index.html"><button >HOME/BLOG</button></a>
            <span></span>
            <span></span>
         </div>
      </div>
        <h1 style= "position: relative; right: 170px; bottom: 80px; ">Watch my favourite movies.</h1>
        <p style="color: brown; font-style: italic; font-weight:bold; position: relative; right: 150px; bottom: 50px;">Pasioni im m&#235; i madh jan&#235; filmat pa p&#235;rjashtim t&#235; asnj&#235; zhanri. Po ju listoj disa prej tyre q&#235; m&#235; kan&#235; ngelur n&#235; mendje.</p>
     </header>

      <main>
        <div class="singleBlog">
          <img src="../images/thum1.jpg" alt="">
          <div class="blogContent">
            <h3>The Shawshank Redemption <span style="color: black;">Dram&#235;</span></h3>
            <p>Nga <a href="#">Frank Darabont</a> | <a href="#">Tetor 19, 1994</a></p>
            <a href="https://en.wikipedia.org/wiki/The_Shawshank_Redemption" class="btn">Read more</a>
          </div>
        </div>
        <div class="singleBlog">
          <img src="../images/thum2.jpg" alt="">
          <div class="blogContent">
            <h3>Victoria % Abdul <span style="color: black;"> Biography Comedy-Drama</span></h3>
            <p>Nga<a href="https://www.imdb.com/title/tt5816682/">Stephen Prears</a> | <a href="#">Nentor 6, 2017</a></p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
        <div class="singleBlog">
          <img src="../images/thum3.jpg" alt="">
          <div class="blogContent">
            <h3>The Godfather<span style="color: black;">Krim</span></h3>
            <p>Nga <a href="#">Franciss Koppola</a> | <a href="#">Janar 21, 2019</a></p>
            <a href="https://en.wikipedia.org/wiki/The_Godfather" class="btn">Read More</a>
          </div>
        </div>
        <div class="singleBlog">
          <img src="../images/thum4.jpg" alt="">
          <div class="blogContent">
            <h3>The Lion King<span style="color: black;">Muzik&#235; Dram&#235;</span></h3>
            <p>Nga <a href="#">Jeff Nathason</a> | <a href="#">Mars 21, 1994</a></p>
            <a href="https://en.wikipedia.org/wiki/The_Lion_King" class="btn">Read More</a>
          </div>
		  </div>
		  <div class="singleBlog">
          <img src="../css/images/thum5.jpg" alt="">
          <div class="blogContent">
            <h3>The Whole Truth <span style="color: black;">Life</span></h3>
            <p>Nga <a href="">Tommas Doe</a> | <a href="#">Qershor 4, 2017</a></p>
            <a href="https://www.imdb.com/title/tt3503406/" class="btn">Read More</a>
          </div>
		  </div>
		  <div class="singleBlog">
          <img src="../images/thum6.png" alt="">
          <div class="blogContent">
            <h3>Hereditary <span style="color: black;">Horror Mister</span></h3>
            <p>Nga <a href="#">Chriss Dailend</a> | <a href="#">Nov 21, 2018</a></p>
            <a href="https://www.rottentomatoes.com/m/hereditary" class="btn">Read More</a>
          </div>
		  </div>
		  <div class="singleBlog">
          <img src="../images/thum7.jpg" alt="">
          <div class="blogContent">
            <h3>Sinister<span style="color: black;"> Horror</span></h3>
            <p>Nga <a href="#">Jason Blum</a> | <a href="#">Maj 21, 2012</a></p>
            <a href="https://en.wikipedia.org/wiki/Sinister_(film)" class="btn">Read More</a>
          </div>
		  </div>
		  <div class="singleBlog">
          <img src="../images/thum8.png" alt="">
          <div class="blogContent">
            <h3>Life is beautiful <span style="color: black;">Filozofi</span></h3>
            <p>Nga <a href="#">Vincenzo Cerami</a> | <a href="#">Prill 21, 1997</a></p>
            <a href="https://en.wikipedia.org/wiki/Life_Is_Beautiful" class="btn">Read More</a>
          </div>
		  </div>
        </div>
      </main>
    </div>
  </section>
    <footer>
      <p><a class="highlight" href="https://www.linkedin.com/in/besjan-coku-4a48131b3/">Created By <span>Besjan Coku</span></a> </p>
    </footer>

</body>
</html>